body {
  font-family: Arial;
  background: #1855b0;
}

.container {
  width: 400px;
  margin: auto;
  margin-top: 50px;
}

h2 {
  text-align: center;
}

.form input {
  width: 100%;
  margin: 5px 0;
  padding: 10px;
}

button {
  padding: 10px;
  margin-top: 5px;
  cursor: pointer;
}

.search {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
}

.card {
  background: white;
  padding: 10px;
  margin-top: 10px;
  border-radius: 8px;
}

.actions button {
  margin-right: 5px;
}